#display{
  background-color: rgb(163, 163, 201); 
  margin:auto;
  width: 39.5vw;
  height:20vh;
  font-size: 3rem;
  color: black;
  text-align: right;
  
}
.calculator{
    margin: auto;
    width: 40vw;
    border-radius: 12px;
   
    }
.calcButtons{
    display: grid;
    background-color: lightgrey;
    position: relative;
    top: 0;
    border-radius: 12px;
}
#item{
     display: flex;
    font-size: 2.8em;
    width:8vw;
    height: 13vh;
    justify-content: space-evenly;
    padding-top: 4%;
}
span{
    font-size: .5em;
}
.row0, .row1, .row2, .row3, .row4, .row5{
    display: flex;
    justify-content: stretch;
 
    
}


